@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #3498db;
  --primaRyColor: #202020;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  background-color: #efe9e3;
}

.btn {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  font-size: 20px;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease;

  /* overflow */
  overflow: hidden;
}

.btn-01:hover {
  color: red;
  border: 1px solid red;
}

.btn-02:hover {
  border: 2px solid #3498db;
  box-shadow: 2px 2px 5px #3498db;
}

.btn-03:hover {
  border: 2px solid #3498db;
  box-shadow: 2px 2px 15px #3498db;
  /* transform: scale(1.1); */
  transform: scale(0.9);
  /* transform: rotate(10deg); */
  color: red;
  background-color: aquamarine;
  border: 1px solid aquamarine;
}

/* .......... section 2 lable 2.............; */

.btn-04::before {
  content: "";
  position: absolute;
  background: #3498db;
  width: 100%;
  height: 0;
  left: 0;
  z-index: -1;
  transition: 0.8s;
}

.btn-04::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn-04:hover:before {
  height: 180%;
}

.btn-05::before {
  content: "";
  position: absolute;
  background: #3498db;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.8s;
  border-radius: 0 0 0 0;
}

.btn-05:hover:before {
  width: 120%;
}

.btn-04:hover,
.btn-05:hover {
  color: white;
  transition: 0.5s;
}

/* Section 3 label 3 */

.btnsec3::before {
  content: "";
  position: absolute;
  background: #3498db;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.8s ease;

  z-index: -1;
}

.btnsec3:hover:before {
  transform: translate(0);
}

.btnsec3:hover {
  color: white;
}

.btn-07::before {
  transform: translateX(100%);
}

.btn-08::before {
  transform: translateY(100%);
}

.btn-09::before {
  transform: translateY(-100%);
}

/* ............ Section 4/  lable 4  ............. */

.btn-10::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #3498db;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s ease;
  z-index: -1;
}

.btn-10:hover:before {
  transform-origin: right;
  transform: scaleX(0);
}

.btn-10:hover {
  color: #ff0000;
}

.btn-11::before {
  transform-origin: right;
  transform: scaleX(1);
}

.btn-11:hover:before {
  transform-origin: left;
  transform: scaleX(0);
}

.btn-12::before {
  transform-origin: top;
  transform: scaleY(1);
}

.btn-12:hover:before {
  transform-origin: bottom;
  transform: scaleY(0);
}

.btn-13::before {
  transform-origin: bottom;
  transform: scaleY(1);
}

.btn-13:hover:before {
  transform-origin: top;
  transform: scaleY(0);
}

/* ......... section label 5 .......... */

.btn-14::before {
  content: "";
  position: absolute;
  background: #3498db;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  z-index: -1;
}

.btn-14:hover:before {
  width: 110%;
}

.btn-14:hover {
  color: white;
  transition: 0.5s;
}

.btn-15:before {
  height: 0%;
  width: 110%;
}

.btn-15:hover::before {
  height: 110%;
}

.btn-16::before {
  width: 110%;
  height: 0px;
  transform: translate(-50%, -50%) rotate(50deg);
}

.btn-16:hover:before {
  width: 100%;
  height: 150px;
}

.btn-17::before {
  width: 110%;
  height: 20px;
  transform: translate(-50%, -50%) rotate(-50deg);
}

.btn-17:hover:before {
  width: 100%;
  height: 150px;
}
